<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="wheel_transmission" params="prefix">

    <transmission name="${prefix}_wheel_transmission">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}_wheel_joint">
        <hardware_interface>VelocityJointInterface</hardware_interface>
      </joint>
      <actuator name="${prefix}_wheel_motor">
        <mechanical_reduction>30</mechanical_reduction>
      </actuator>
    </transmission>
    
  </xacro:macro>

</robot>



